.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
}
.main p {
  color: var(--slate);
  line-height: 26px;
  margin: 15px 0;
  font-size: 18px;
}
.main > div {
  gap: 10;
  display: flex;
}
.main > div > div:nth-child(2) div {
  height: 280px;
  width: 280px;
  position: relative;
}
.main > div > div:nth-child(2) div img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}
.main > div > div:nth-child(2) > div::before {
  content: "";
  width: 280px;
  height: 280px;
  display: inline-block;
  background-color: var(--green);
  position: absolute;
  opacity: 0.3;
  transition: 0.3s;
  margin-bottom: -280px;
  border-radius: 5px;
  z-index: 3;
}
.main > div > div:nth-child(2) > div::after {
  content: "";
  width: 280px;
  height: 280px;
  display: inline-block;
  transform: translate(20px, -260px);
  border-radius: 5px;
  border: 3px solid var(--green);
  z-index: 1;
}
.main > div > div:nth-child(2) > div:hover ~ div::before {
  opacity: 0;
}
.main > div > div:first-child {
  flex: 2;
}
.main > div > div:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:910px){
  .main > div > div:nth-child(2) > div::before{
    display: none;
  }
  .main > div > div:nth-child(2) > div::after{
    display: none;
  }
  .main >div{
    flex-direction: column-reverse;
  }
   .main > div > div:nth-child(2){
    margin: 30px 0;
   }
}

@media screen and (max-width: 770px) {
}

