.hero p:first-child {
  color: var(--green);
  font-weight: bold;
  font-family: mono, "Times New Roman", Times, serif;
}
.hero h1 {
  font-size: 70px;
  /* font-size: clamp(35px, 45px, 70px); */
  font-weight: bold;
  color: var(--silver);
  margin: -10px 0;
}
.hero h2 {
  font-weight: bold;
  color: var(--slate);
  font-size: 63px;
  /* font-size:  clamp(28px, 38px, 63px); */
}
.hero {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info {
  font-weight: normal;
  width: 50%;
  color: var(--slate);
}
.hero button {
  margin: 20px 0;
}
.content {
  counter-reset: heading-counter;
}
.content h2::before {
  content: "0" counter(heading-counter) ". ";
  counter-increment: heading-counter;
}

.content h2 {
  font-weight: bold;
  font-size: 13px;
  font-size: 32px;
  font-family: sans-serif;
  color: var(--silver);
}
.content h2::before {
  font-family: mono;
  color: var(--green);
  font-size: 22px;
}
.content h2::after {
  content: "";
  display: inline-block;
  width: 30%;
  height: 2px;
  background-color: #3a3c41;
  margin-left: 10px;
}
.content h2 {
  display: flex;
  align-items: center;
}
.content > div {
  min-height: 100vh;
}
.accordWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.accordWrapper > div {
  width: 70%;
}
.specialHeading {
  font-size: 15px;
  color: var(--green);
  font-weight: bold;
  font-family: mono;
  text-align: center;
}
.footer{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer p{
  color: var(--slate);
  font-family: plain;
}
.footer a{
  font-size: 12px;
}
@media screen and (max-width: 800px){
  .content > div{
    margin: 40px 0;
  }
  .hero h2{
    line-height: 39px;
  }
  .hero{
    gap: 17px;
  }
  .hero h1{
    font-size: 45px;
  }
  .hero h2{
    font-size: 38px;
  }
  .info{
    width: unset;
  }
  .accordWrapper > div{
    width: 100%;
  }
  .content h2::after{
    width: 0%;
  }
}